@font-face {
    font-family: AnandaBlack;
    src: url(./fonts/AnandaBlack.ttf);
}

@font-face {
    font-family: MontSerrat;
    src: url(./fonts/Montserrat.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #77B3F7;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

h1{
    font-family: AnandaBlack;
    font-size: 15px;
    padding: 10px;
    font-weight: lighter;
}

h1:hover {
    font-weight: bold;
}

ul{
    display: flex;
    list-style: none;
    font-size: 10px;
    font-family: MontSerrat;
}

li{
    padding: 10px;
}

.survol-header:hover{
    font-weight: bold;
}

#image-section1 {
    width: 1512px;
    height: 600px;
    box-sizing: border-box;
    display: flex;
    
}
#div_container{
    background-color: black;
    font-family: MontSerrat ;
    border: 5px white;
    border-radius: 2px;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
    color: white;
    position: relative;
    opacity: 0.89;
}
